.lolomo__row__carousel {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel__nav {
  display: flex;
  position: absolute;
  top: -20px;
  right: 70px;
}

.carousel__indicator {
  margin-left: 10px;
  height: 5px;
  width: 25px;
  background-color: grey;
}

.carousel__nav .current {
  background-color: white;
}

.carousel__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  border: none;
  font-size: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.562);
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.carousel__button:hover {
  opacity: 1;
}

.carousel__button--left {
  left: -50px;
}

.carousel__button--right {
  right: 0px;
}

.carousel__track {
  display: flex;
  height: 100%;
  width: 100%;
  list-style: none;
}

.carousel__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  min-height: 120px;
  min-width: 220px;
  margin-left: 10px;
  background-color: rgb(44, 44, 44);
  transition: left 0.3s ease-out, height 1s ease-in;
  cursor: pointer;
}

.carousel__slide:first-of-type {
  margin: 0;
}

.carousel__slide__modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 280px;
  width: 270px;
  background-color: black;
  border-radius: 5px;
  z-index: 1;
  transition: all 1s ease-in-out;

  opacity: 0;
  top: 0;
  visibility: hidden;
}

.carousel__slide__modal__image-container {
  height: 160px;
  width: 100%;
}

.carousel__slide__modal__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel__slide__modal__body {
  padding: 10px;
  font-size: 12px;
}

.carousel__slide__modal__body .title {
  font-size: 13px;
  font-weight: bold;
}

.carousel__slide__modal__body .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.carousel__slide__modal__body .options .rating {
  display: inline-block;
  width: auto;
  border: 0.5px rgba(245, 245, 245, 0.637) solid;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 5px 0;
  margin-right: 10px;
}

.carousel__slide__modal__body .options i {
  transition: all 0.3s ease-in-out;
}
.carousel__slide__modal__body .options i:hover {
  font-size: 2rem;
}

.carousel__slide__modal__body .genre-list {
  display: flex;
}

.carousel__slide__modal__body .genre-list .genre {
  margin-left: 40px;
}

.carousel__slide__modal__body .genre-list .genre:first-child {
  margin-left: 20px;
}

.carousel__image {
  height: 100%;
  width: 220px;
  object-fit: cover;
  border-radius: 5px;
}
