@import "./navbar.css";
@import "./main.css";
@import "./footer.css";
@import "./login.css";

@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}

.spinner {
  margin: 1rem 1.5rem;
  text-align: center;
  font-size: 20px;
}

.spinner i {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
